.root {
    -fx-font-family: 'Open Sans';
    -fx-background-color: #F9F6F0;
}

.tab-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Убираем фон и границу у внутреннего фона заголовков (иногда там скрытая полоска) */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Выравниваем вкладки вплотную */
.tab-pane .tab-header-area .headers-region {
    -fx-border-color: #771011;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

/* Общий стиль для каждой вкладки */
.tab {
    -fx-background-color: #F9F6F0;
    -fx-padding: 2 20 2 20;            /* Внутренние отступы */
    -fx-font-family: 'Open Sans Light';      /* Ваш шрифт */
    -fx-font-size: 13px;
    -fx-text-fill: #771011;            /* Красный текст для неактивных */
}

/* Первая вкладка — скругление левых углов */
#first {
    -fx-background-radius: 30px 0 0 30px;
    -fx-border-radius: 30px 0 0 30px;
}

/* Последняя вкладка — скругление правых углов */
#last {
    -fx-background-radius: 0 30px 30px 0;
    -fx-border-radius: 0 30px 30px 0;
}

/* Стиль для выбранной (активной) вкладки */
.tab:selected {
    -fx-background-color: #771011;
    -fx-text-fill: #FFFFFF;            /* цвет текста*/
    -fx-border-color: #771011;
}

/* Стиль для текста внутри вкладки */
.tab .tab-label {
    -fx-text-fill: inherit;
}

/* Убираем обводку фокуса */
.tab-pane .tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Убираем лишние кнопки (прокрутка вкладок) */
.tab-pane .tab-header-area .control-buttons-tab {
    -fx-visibility: hidden;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.menu-wrapper {
    -fx-border-color: #771011;
    -fx-border-radius: 30px;
    -fx-width: 350px;
    -fx-height: 46px;
}

.card {
    -fx-effect: dropshadow(gaussian, rgba(47, 47, 47, 0.5), 0.5, 0.5, 1, 1.5);
}
.card-image {
    -fx-background-size: cover;
    -fx-background-radius: 30px;
    -fx-border-color: #F9F6F0;
    -fx-opacity: 0.8;
}
.card-header {
    -fx-effect: dropshadow(gaussian, black, 0, 1, 1, 1);
    -fx-translate-y: -5px;
    -fx-font-family: 'Maika';
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}
.card-sena {
    -fx-translate-y: 30px;
    -fx-effect: dropshadow(gaussian, black, 0, 1, 1, 1);
    -fx-text-fill: #ff3366;
}

.fotter {
    -fx-background-color: #771011;
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 10;
}

.masters-button {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-border-color: #771011;
    -fx-border-radius: 20;
    -fx-text-fill: #1A1A1A;
}
.masters-button:selected {
    -fx-background-color: #771011;
    -fx-background-radius: 20;
    -fx-text-fill: #FFFFFF;
}

.button-deystvie {
    -fx-background-color: transparent;
    -fx-border-radius: 30;
    -fx-border-color: #771011;
    -fx-text-fill: #771011;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 12px;
}

.calendar {
    -fx-background-color:transparent;
    -fx-border-radius: 30;
    -fx-border-color: #771011;
}
.calendar-header{
    -fx-text-fill: #1A1A1A;
    -fx-font-size: 13px;
}
.calendar-label {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: 'Maika';
    -fx-text-fill: #771011;
    -fx-font-size: 13px;
}
.calendar-label:disabled {
    -fx-background-color: #771011;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1.0;
}
.calendar-time {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-font-family: 'Maika';
    -fx-text-fill: #771011;
    -fx-font-size: 11px;
}

.forma-texarea {
    -fx-background-radius: 30;
    -fx-text-fill: #1A1A1A;
    -fx-font-size: 12px;
    -fx-border-radius: 30;
    -fx-border-color: #771011;
}
.forma-label {
    -fx-text-fill: #1A1A1A;
    -fx-font-size: 13px;
    -fx-font-family: 'Open Sans'
}
.forma-btn {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-family: 'Open Sans Light'
}
.forma-btn-zapis {
    -fx-background-color: transparent;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: #771011;
}